// ========================================================================
// BASE/NORMALISE
// ========================================================================

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: $font-weight-reg;
}

ol,
ul {
  list-style: none;
}

small {
  font-size: 80%;
  line-height: normal;
}

strong {
  font-weight: bold;
}

button {
  outline: none;
  cursor: pointer;
}

// Set display to block for IE

main {
  display: block;
}
