// ========================================================================
// ELEMENTS/LINKS
// ========================================================================

// Set default colour
// Remove the gray background on active links in IE 10.
// Set text decoration

a {
  text-decoration: none;
  color: $col-link;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: 2px solid $col-link;
    outline-offset: -2px;
  }
}
