<ul class="l-postList">
  <li class="l-postList_item">
    <article class="c-postItem c-postItem-html">
      post
    </article>
  </li>
  <li class="l-postList_item">
    <article class="c-postItem c-postItem-css">
      post
    </article>
  </li>
  <li class="l-postList_item">
      <article class="c-postItem c-postItem-js">
        post
      </article>
    </li>
    <li class="l-postList_item">
      <article class="c-postItem c-postItem-misc">
        post
      </article>
    </li>
</ul>