<ul class="c-postCountList">
  <li class="c-postCountList_item">
    <button type="button" id="all" class="c-postCount c-postCount-all">
      <span class="c-postCount_inner">
        <span class="c-postCount_no">{{ site.categories.blog | size }}</span>
        <span class="c-postCount_text">All</span>
      </span>
    </button>
  </li>
  <li class="c-postCountList_item">
    <button type="button" id="html" class="c-postCount c-postCount-html">
      <span class="c-postCount_inner">
        <span class="c-postCount_no">{{ site.categories.blog-html | size }}</span>
        <span class="c-postCount_text">html</span>
      </span>
    </button>
  </li>
  <li class="c-postCountList_item">
    <button type="button" id="css" class="c-postCount c-postCount-css">
      <span class="c-postCount_inner">
        <span class="c-postCount_no">{{ site.categories.blog-css | size }}</span>
        <span class="c-postCount_text">css</span>
      </span>
    </button>
  </li>
  <li class="c-postCountList_item">
    <button type="button" id="js" class="c-postCount c-postCount-js">
      <span class="c-postCount_inner">
        <span class="c-postCount_no">{{ site.categories.blog-js | size }}</span>
        <span class="c-postCount_text">js</span>
      </span>
    </button>
  </li>
</ul>

<!-- <span>{{ post.type.html | size }}</span> -->

<!-- <ul class="c-postCountList">
  <li class="c-postCountList_item">
    <button type="button" class="c-postCount c-postCount-html">
      <span class="c-postCount_inner">
        <span class="c-postCount_no">1</span>
        <span class="c-postCount_text">HTML</span>
      </span>
    </button>
  </li>
  <li class="c-postCountList_item">
      <button type="button" class="c-postCount c-postCount-css">
        <span class="c-postCount_inner">
          <span class="c-postCount_no">2</span>
          <span class="c-postCount_text">CSS</span>
        </span>
      </button type="button">
    </li>
</ul> -->