<div class="c-latest">

  <h3 class="c-latest_title">Latest Tips N Tricks</h3>

  <ul class="c-postLatest">
    {% for post in site.categories.tips | limit:5 %}
      <li class="c-postLatest_item">    
        <a href="{{ post.url }}" class="c-postLatest_link">
          <span class="c-postLatest_title">{{ post.title }}</span>
          <time
          datetime="{{ post.date | date: '%Y-%m-%d' }}"
          class="c-postLatest_date">{{ post.date | date: "%d %b %Y" }}
        </time>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>