// ========================================================================
// COMPONENTS/BUTTON
// ========================================================================

.c-btn {
  display: inline-block;
  padding: spacing(2) spacing(4);
  text-align: center;
}
