// ========================================================================
// COMPONENTS/LATEST-TITLE
// ========================================================================

.c-latest {
  background: rgba(white, 0.8);
  border-radius: 4px;
  overflow: hidden;

  &_title {
    padding: spacer(2);
    color: lighten($col-text, 15);
    border-bottom: 1px solid lighten($col-text, 50);
  }

  @include bp(10) {
    &_title {
      font-size: 20px;
    }
  }
}
