// ========================================================================
// COMPONENTS/LATEST-TITLE
// ========================================================================

.c-latest {
  background: $col-b;
  border: 1px solid $col-b;
  border-radius: 4px;
  overflow: hidden;

  &_title {
    padding: spacer(2);
    color: darken($col-text-dark, 10);
  }

  @include bp(10) {
    &_title {
      font-size: 20px;
    }
  }
}
