// ========================================================================
// COMPONENTS/POST-ITEM
// ========================================================================

.c-postItem {
  display: block;
  background: $col-b;
  border-width: 2px 2px 2px 4px;
  border-style: solid;
  border-color: darken($col-border, 5);
  transition: transform 150ms ease-in;

  &_title {
    padding: spacer(2);
    font-size: 22px;
    border-bottom: 1px solid darken($col-border, 5);
    color: $col-text-dark;
  }

  &_body {
    padding: spacer(2);
    color: $col-text-light;
  }

  &_footer {
    padding: spacer(1) spacer(2);
    border-top: 1px solid darken($col-border, 5);
  }

  &_meta {
    font-size: font-size(s);
    text-transform: uppercase;
    color: $col-text-light;
  }

  &_date,
  &_author {
    color: white;
  }

  &:hover {
    transform: scale(1.02);
  }

  &-html {
    border-left-color: $col-html;
  }

  &-css {
    border-left-color: $col-css;
  }

  &-js {
    border-color: $col-js;
  }

  &-misc {
    border-color: $col-misc;
  }
}
