// ========================================================================
// COMPONENTS/POST-LATEST
// ========================================================================

.c-postLatest {
  &_item {
    padding: spacer(1) spacer(2);
    background: lighten($col-b, 45);
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_link {
    display: block;
    color: lighten($col-a, 10);

    &:hover {
      color: darken($col-link, 10);
    }
  }

  &_date {
    font-size: 11px;
    text-transform: uppercase;
    color: lighten($col-text, 10);
  }
}
