// ========================================================================
// COMPONENTS/POST-LATEST
// ========================================================================

.c-postLatest {
  &_item {
    background-color: lighten($col-b, 15);
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &_link {
    display: block;
    padding: spacer(1) spacer(2);
    color: black;
    font-weight: 400;
    transition: background-color 200ms ease-in, color 200ms ease-in;

    &:hover {
      background-color: lighten($col-b, 12);
      color: $col-link;
    }
  }

  &_title {
    display: block;
  }

  &_date {
    font-size: 11px;
    text-transform: uppercase;
    color: darken($col-text-dark, 25);
  }
}
