// ========================================================================
// COMPONENTS/POST
// ========================================================================

.c-post {
  background: $col-b;
  border: 4px solid $col-border;
  border-radius: 12px;

  &_title {
    padding: 0 spacer(2);
    @include vr(32px, 1.5);
    color: $col-text-dark;
  }

  &_meta {
    padding: spacer(1) spacer(2);
    background: $col-bg;
  }

  &_author,
  &_date {
    color: white;
  }

  &_body {
    padding: spacer(3);
  }

  &-html {
    border-left: 4px solid $col-html;
  }

  @include bp(10) {
    &_title {
      @include vr(48px, 2);
    }

    &_body {
      padding: spacer(4);
      @include vr(18px, 1.4);
    }
  }

  // &_title {
  //   padding-left: spacer(2);
  //   padding-right: spacer(2);
  //   @include vr(38px, 2);
  //   color: white;
  //   overflow: hidden;

  //   &-html {
  //     background: linear-gradient(to right, $col-html, lighten($col-html, 15));
  //   }

  //   &-css {
  //     background: linear-gradient(to right, $col-css, lighten($col-css, 15));
  //   }

  //   &-js {
  //     background: linear-gradient(to right, $col-js, lighten($col-js, 15));
  //   }

  //   &-misc {
  //     background: linear-gradient(to right, $col-misc, lighten($col-misc, 15));
  //   }
  // }

  // &_meta {
  //   padding: spacer(2);
  //   background: darken($col-bg, 10);
  //   font-size: 14px;
  // }

  // &_author,
  // &_date {
  //   color: darken($col-text, 20);
  // }

  // &_body {
  //   padding: spacer(3);
  //   font-size: 18px;
  //   line-height: 1.5;
  // }

  // &-html {
  //   border-color: lighten($col-html, 15);
  // }

  // &-css {
  //   border-color: lighten($col-css, 15);
  // }

  // &-js {
  //   border-color: lighten($col-js, 15);
  // }

  // &-misc {
  //   border-color: lighten($col-misc, 15);
  // }

  // @include bp(10) {
  //   &_body {
  //     padding: spacer(4);
  //   }
  // }
}
