// ========================================================================
// COMPONENTS/SITE-NAV
// ========================================================================

.c-siteNav {
  &_link {
    display: block;
  }

  @include bp(10, max) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $col-b;
    transform: translateX(100%);

    &_item {
      padding: spacer(2);
    }
  }

  @include bp(10) {
    &_items {
      display: flex;
    }

    &_link {
      padding: 0 spacer(3);
      @include vr(20px, 4);

      &:hover {
        color: darken($col-link, 15);
      }

      &.isActive {
        border-bottom: 4px solid $col-link;
      }
    }

    .l-siteHeader & {
      margin-left: auto;
    }
  }
}
