// ========================================================================
// COMPONENTS/SITE-LOGO
// ========================================================================

.c-siteLogo {
  display: block;
  font-family: Monaco, Courier New, monospace;
  background-image: linear-gradient(to right, $col-a, $col-text-light);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;

  &:hover {
    background-image: linear-gradient(to right, $col-text-light, $col-a);
  }

  @include vr(18px, 2);

  @include bp(10) {
    @include vr(22px, 3);
  }
}
