// ========================================================================
// PARTIALS/HEADER
// ========================================================================

.l-siteHeader {
  position: relative;
  display: flex;
  padding-left: spacer(2);
}
