// ========================================================================
// PARTIALS/HEADER
// ========================================================================

.l-siteHeader {
  position: relative;
  display: flex;
  padding-left: spacer(2);
  background: white;
  z-index: index($z-index, header);
}
