// ========================================================================
// PARTIALS/PAGE-POST
// ========================================================================

.l-pagePost {
  display: grid;
  grid-template-columns: 1fr;

  &_aside {
    padding: spacer(3);
    background: lighten($col-bg, 20);
  }

  @include bp(20) {
    grid-template-columns: 3fr 1fr;
  }
}
