// ========================================================================
// LAYOUT/PAGE-HOME
// ========================================================================

.l-pageHome {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: spacer(3);
  padding: spacer(3);

  @include bp(20) {
    grid-template-columns: 3fr 1fr;
  }
}
