// ========================================================================
// LAYOUT/PAGE-HOME
// ========================================================================

.l-pageHome {
  display: grid;
  grid-template-columns: 1fr;

  &_latest {
    padding: spacer(3);
    background: darken($col-bg, 5);
  }

  @include bp(20) {
    grid-template-columns: 3fr 1fr;
  }
}
