// ========================================================================
// PARTIALS/PAGE-POST
// ========================================================================

.l-main {
  display: grid;
  grid-template-columns: 1fr;

  &_content,
  &_aside {
    min-width: 0;
  }

  &_aside {
    padding: spacer(2);
    background: lighten($col-bg, 20);
  }

  @include bp(20) {
    grid-template-columns: 3fr 1fr;
  }
}
