// ========================================================================
// PARTIALS/POST-LIST
// ========================================================================

.l-postList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: spacer(3);
  grid-auto-rows: 1fr;

  @include bp(10) {
    grid-template-columns: repeat(auto-fit, minmax(420px, auto));
  }

  > .isHidden {
    display: none;
  }
}
