// ========================================================================
// LAYOUT/TIPS-LIST
// ========================================================================

.l-tipsList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: spacer(3);

  @include bp(10) {
    grid-template-columns: 1fr 1fr;
  }

  @include bp(20) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include bp(30) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
