// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// PAGE
$col-bg             : #242425;
$col-text           : #222;
$col-text-dark      : #e5e5e5;

// LINKS
$col-link           : #03a9f4;
$col-link-hover     : darken($col-link, 20);

// MISC
$col-border         : #24232b;

// Branding
$col-a              : #fec96e;
$col-b              : #2b2931;

// Tech
$col-html           : #fca140;
$col-css            : #2388ad;
$col-js             : #f9c451;
$col-misc           : #727272;
