// ========================================================================
// SETTINGS/COLOURS
// ========================================================================

// PAGE
$col-bg             : #3c3b45;
$col-text           : white;

// LINKS
$col-links          : rgb(5, 94, 219);
$col-links-hover    : rgb(5, 42, 161);

// MISC
$col-border         : #24232b;

// Branding
$col-a              : #77a9a0;
$col-b              : #25242b;

// Tech
$col-html           : #fca140;
$col-css            : #2388ad;
$col-js             : #f9c451;
$col-misc           : #727272;
