
<!DOCTYPE html>
<html lang="en" class="no-js" direction="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <title>{{ site.title }} | {{ page.title }}</title>
  <meta name="description" content="{{ site.desc }}">
  <meta name="Author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/main.css">
  <script>(function(h){h.className = h.className.replace('no-js', 'has-js')})(document.documentElement)</script>
</head>
<body>

  {% include site-header.html %}

  <div class="l-pagePost">

    <main class="l-pagePost_content">
      {{ content }}
    </main>
  
    <aside class="l-pagePost_aside">
      Aside
    </aside>
  
  </div>

  {% include site-footer.html %}

  <script src="/assets/main.bundle.js"></script>
</body>
</html>